.footer_content{
    width: 100%;
    position: relative;
    background-color: red;
    height: 90px;
}
#footer_bmg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.footer_logo_box{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_copy{
    padding-top: 15px;
    background-color: #f2f2f2;
    font-size: 11px;
    color: #646869;
    text-align: center;
}
.footer_copy a{
    color: #646869;;
}